{% extends 'base.html' %}

{# Set the page heading for the add swimmers interface #}
{% block pageheading %}Add Swimmers{% endblock %}

{% block main %}

<h3>
    <table class = "booking-table">
    <thead>
        <tr>
            <th>Swimmer ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Club</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {# For loop through the list of all available swimmers #}
        {% for swimmer in all_swimmers %}
        <tr>
            {# Access swimmer data by index #}
            <td>{{ swimmer[0] }}</td>
            <td>{{ swimmer[1] }}</td>
            <td>{{ swimmer[2] }}</td>
            <td>{{ swimmer[3] }}</td>
            <td>{{ swimmer[4] }}</td>
            {# Link to add a specific swimmer to the team using their ID #}
            <td><a href = "{{ url_for('add_swimmer_to_team', swimmer_id = swimmer[0]) }}">Add Swimmer</a></td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</h3>

{% endblock %}