{% extends 'base.html' %}

{% block pageheading %}Dashboard{% endblock %}

{% block main %}


{% if role == "swimmer" %}
    <div class = "dashboard-header"> 
        <strong><em>Check your bookings, Check your times, Make your profile!</em></strong>
    </div>

    <div class = "dashboard-links">
        <h3><a href = "/dashboard/swim-results">My Swim Results</a></h3>
        <h3><a href = "/dashboard/user-bookings">My Current Lane Bookings</a></h3>

    </div>



{% endif %}



{% if role == "coach" %}

    <div class = "dashboard-links">
        <h3><a href = "/dashboard/manage-team">Manage Team</a></h3>
        <h3><a href = "/dashboard/user-bookings">View your Bookings</a></h3>
    </div>


{% endif %}



{% if role == "admin" %}

    <h3>Admin Dashboard</h3>
    <strong><em>Moderate and Check User Bookings, Enter and Remove times,  </em></strong>

    <div class = "dashboard-links">
        <h4><a href = "/dashboard/user-bookings">Moderate and Check User Bookings</a></h4>
        <h4>Enter and Remove Times</h4>
    </div>


{% endif %}


{% endblock %}