{% extends 'base.html' %}
{% block pageheading %}Manage Team{% endblock %}

{% block main %}
<h3>Team Members</h3>

{# Check if there are swimmers in the list or if a search has been performed #}
{% if swimmers or is_search %}
    <p>Want to add more swimmers? <a href="/add-swimmers">Add a swimmer here</a></p>

    <form class="myform" action="/dashboard/manage-team/search" method="POST">
        <div class="form-group">
            {# Pre-populate search bar with current search term if available #}
            <div class="form-label"><input type="text" name="swimmer-search" value="{{ search_term if search_term }}"></div>
            <div class="form-element"><input type="submit" value="Search"></div>
        </div>
    </form>

    {% if swimmers %}
        <table class="booking-table">
            <thead>
                <tr>
                    <th>Swimmer ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Gender</th>
                    <th>Club</th>
                    <th>Results</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {# Populate table rows with swimmer details #}
                {% for swimmer in swimmers %}
                <tr>
                    <td>{{ swimmer[0] }}</td>
                    <td>{{ swimmer[1] }}</td>
                    <td>{{ swimmer[2] }}</td>
                    <td>{{ swimmer[3] }}</td>
                    <td>{{ swimmer[4] }}</td>
                    <td><a href = "{{ url_for('render_swim_results_page', swimmer_id = swimmer[0]) }}">More Details</a></td>
                    <td><a href = "{{ url_for('remove_swimmer_from_team', swimmer_id = swimmer[0]) }}" onclick="return confirm('Delete this record permanently?')"> Remove Swimmer </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        {# Feedback for empty search results #}
        <p>No swimmers found matching "{{ search_term }}". <a href="/dashboard/manage-team">Clear search</a></p>
    {% endif %}

{% else %}
    {# Display message if the coach has no swimmers yet #}
    <p>Currently you have no swimmers. <a href="/add-swimmers">Add a swimmer here</a></p>
{% endif %}

{% endblock %}